* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--gray);
    font-family: 'Fira Code', monospace;
}
header {
    position: sticky;
    top: 0;
    background-color: var(--bg);
    z-index: 1000;
    
}
.logo img {
    width: 16px;
    
}
.logo h1 {
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 700;
}
.banner {
    padding-top: 80px;
}
.banner .left {
    width: 60%;
}

.banner h2 {
    color: var(--white, #FFF);
    font-size: 32px;
    font-weight: 600;
}

.banner .right {
    position: relative;
}

.banner .right .banner-img::after {
    content: '';
    position: absolute;
    top: 30%;
    left: -5%;
    width: 165px;
    height: 165px;
    z-index: 3;
    background: url(../img/svg/logo-outline.svg) no-repeat;
}

.banner .right .banner-img::before {
    content: '';
    position: absolute;
    width: 84px;
    height: 84px;
    bottom: 20%;
    right: 5%;
    z-index: 51;
    background: url(../img/svg/dots.svg) no-repeat;
}


.quote-section {
    position: relative;
    overflow: hidden;
    z-index: 11;

}
  
.quote-section::after {
content: '';
width: 90px;
height: 90px;
position: absolute;
right: -1%;
top: 50%;
background-color: var(--bg);
border: 1px solid var(--gray);
overflow: hidden;
z-index: -11;
}

.quote-wrapper {
    max-width: 1024px;
}

.quote {
font-size: 32px;
position: relative;
}

.quote::before {
content: '“';
font-size: 60px;
height: 40px;
position: absolute;
left: 20px;
top: -26px;
background-color: var(--bg);
color: var(--gray);
}

.quote::after {
content: '“';
font-size: 60px;
height: 40px;
position: absolute;
right: 20px;
bottom: -12px;
background-color: var(--bg);
color: var(--gray);
}

.works-section {
    position: relative;
    overflow: hidden;
}

.works-section::before {
    content: '';
    background: url(../img/svg/dots.svg) no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
    left: -1%;
    top: 30%;
}

.works-section::after {
    content: '';
    width: 90px;
    height: 140px;
    position: absolute;
    right: -1%;
    top: 50%;
    background-color: var(--bg);
    border: 1px solid var(--gray);
    overflow: hidden;
    z-index: -11;
}

.works-section .heading .line {
    width: 400px;
    height: 2px;
    background-color: var(--primary);
}

.project-card {
    max-width: 33.33%;
    width: 100%;
    border: 1px solid var(--gray);
}
.project-card .card-img {
    width: 100%;
    height: 300px;
    
}
.project-card .card-img iframe{
    width: 100%;
    height: 300px;
    
}
.project-card .project-lang {
    border: 1px solid var(--gray);
}

.skills-section {

}


.skills-section .heading .line {
    width: 400px;
    height: 2px;
    background-color: var(--primary);
}

.skills-section .left {
    max-width: 30%;
    width: 100%;
    min-height: 280px;
    position: relative;
}

.skills-section .left .dots::before{
    content: '';
    background: url(../img/svg/dots.svg) no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20%;
}

.skills-section .left .dots::after{
    content: '';
    background: url(../img/svg/dots.svg) no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 20%;
    bottom: 0%;
}

.skills-section .left .square::before{
    content: '';
    width: 86px;
    height: 86px;
    border: 1px solid var(--gray);
    position: absolute;
    right: 20%;
}

.skills-section .left .square::after{
    content: '';
    width: 52px;
    height: 52px;
    border: 1px solid var(--gray);
    position: absolute;
    right: 0%;
    bottom: 10%;
}

.skills-section .left .logo::after{
    content: '';
    background: url(../img/svg/logo-outline.svg) no-repeat;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 10%;
    bottom: -10%;
}

.skills-section .right {
    max-width: 70%;
    width: 100%;
}

.skills-section .right .card{
    width: 100%;
    border: 1px solid var(--gray);
}

.abouts-section .heading .line {
    width: 400px;
    height: 2px;
    background-color: var(--primary);
}

.abouts-section  .left {
    width: 50%;
}

.abouts-section  .right .about-img {
    max-width: 290px;
    width: 100%;
    position: relative;
    top: -45px;
}

.abouts-section  .right .about-img::after {
    content: '';
    position: absolute;
    width: 84px;
    height: 84px;
    bottom: 20%;
    right: 5%;
    z-index: 51;
    background: url(../img/svg/dots.svg) no-repeat;
}

.abouts-section  .right .about-img::before {
    content: '';
    position: absolute;
    width: 84px;
    height: 84px;
    top: 10%;
    left: 0;
    z-index: 51;
    background: url(../img/svg/dots.svg) no-repeat;
}



.sm-nav .nav-list{
    display: none;
    transition: all 1s;
}

.sm-nav.change .nav-list{
    display: flex;
}



.hamburger-menu {
    width: 55px;
    height: 55px;
    position: fixed;
    top: 10px;
    right: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 300;
    transition: all .5s;
}

.change .hamburger-menu {
    background-color: #eef0eb;
}

.line {
    width: 30px;
    height: 2px;
    background-color: var(--primary);
    margin: 2px 0;
    transform-origin: right;
    transition: all .5s;
}

.change .line-1 {
    transform: rotate(-40deg) translateY(-5px);
    background-color: var(--primary);
}
.change .line-2 {
    opacity: 0;
}
.change .line-3 {
    transform: rotate(40deg) translateY(5px);
    background-color: var(--primary);
}

.bg-cover {
    background-color: var(--bg-90);
    width: 45px;
    height: 45px;
    position: fixed;
    top: 15px;
    right: 35px;
    z-index: 100;
    border-radius: 50%;
    transition: transform .5s;
}

.change .bg-cover {
    transform: scale(150);
    
}

.nav-list {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 200;
}

.nav-item {
    margin: 1.5vh 0;
}

.nav-link {
    font-family: 'Fira Code', monospace;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .4rem;
    text-decoration: none;
    color: #fff;
    transition: letter-spacing 0.2s;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.change  .nav-link{
    opacity: 1;
    visibility: visible;
}
.nav-link:hover {
    letter-spacing: .8rem;
}



@media (max-width: 1023px) {
    .nav {
        display: none;
    }
    .banner {
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .banner h2{
        font-size: 22px;
    }
    .banner .left{
        width: 100%;
        order: 2;
    }
    .quote-section::after {
        display: none;
    }
    .quote  {
        font-size: 22px;
    }
    .works-section::before, .works-section::after {
        display: none;
    }

    .projects {
        flex-wrap: wrap;
    }

    .project-card {
        max-width: 100%;
    }
    .project-card .card-img {

    }
    .project-card .card-img, .project-card .card-img iframe {
        height: 400px;
    }

    .skills-section .left {
        display: none;
    }
    .skills-section .right {
        max-width: 100%;
    }

    .abouts-section .right{
        display: none;
    }

    .abouts-section .left{
        width: 100%; 
    }
}